<div id="filters">
    <a href="/listings/filter/Trending">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
    </a>
    <a href="/listings/filter/Rooms">
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
    </a>
    <a href="/listings/filter/Iconic Cities">
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
    </a>
    <a href="/listings/filter/Mountains">
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
    </a>
    <a href="/listings/filter/Castles">
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
    </a>
    <a href="/listings/filter/Amazing pools">
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing pools</p>
        </div>
    </a>
    <a href="/listings/filter/Camping">
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
    </a>
    <a href="/listings/filter/Farms">
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
    </a>
    <a href="/listings/filter/Arctic">
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
    </a>
    <a href="/listings/filter/Doms">
        <div class="filter">
            <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Doms</p>
        </div>
    </a>
    <a href="/listings/filter/Boats">
        <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
        </div>
    </a>
</div>
