<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="mailto:vyomraturi2004@gmail.com">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a href="https://github.com/VyomRaturi" target="_blank"
                ><i class="fa-brands fa-github"></i
            ></a>
            <a
                href="https://www.linkedin.com/in/vyom-raturi-1537a3282/"
                target="_blank"
                ><i class="fa-brands fa-linkedin"></i
            ></a>
        </div>
        <div class="f-info-brand">&copy;TripNest Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
