<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
        <form
            method="POST"
            action="/listings"
            novalidate
            class="needs-validation"
            enctype="multipart/form-data"
        >
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    name="listing[title]"
                    placeholder="Add a title"
                    type="text"
                    class="form-control"
                    id="title"
                    required
                />
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Please add a valid title</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    name="listing[description]"
                    class="form-control"
                    id="description"
                    required
                ></textarea>
                <div class="valid-feedback">Description looks good!</div>
                <div class="invalid-feedback">
                    Please enter a short description
                </div>
            </div>

            <div class="mb-3">
                <span class="tags-txt">Tags :</span>
                <span class="dropdown tags-dropdowns">
                    <button
                        class="btn btn-light dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Select Tags
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="dropdown-item">
                                Trending
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Rooms
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Iconic Cities
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Mountains
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Castles
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Amazing pools
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Camping
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Farms
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Arctic
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Doms
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                Boats
                            </button>
                        </li>
                    </ul>
                </span>
                <span class="tags-display"></span>
            </div>

            <div class="hidden-tags">
                <input name="listing[tags]" id="hidden-tags-inp" required />
                <div class="invalid-feedback">
                    Please select appropriate tags
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input
                    name="listing[image][url]"
                    type="file"
                    class="form-control"
                    id="image"
                    required
                />
                <div class="invalid-feedback">Please upload a valid image</div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input
                        name="listing[price]"
                        placeholder="enter price"
                        class="form-control"
                        id="price"
                        required
                    />

                    <div class="valid-feedback">Priced it well !</div>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input
                        name="listing[country]"
                        placeholder="enter country"
                        type="text"
                        class="form-control"
                        id="country"
                        required
                    />
                    <div class="valid-feedback">Country looks good!</div>
                    <div class="invalid-feedback">Country should be valid</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input
                    name="listing[location]"
                    placeholder="enter location"
                    type="text"
                    class="form-control"
                    id="location"
                    required
                />
                <div class="valid-feedback">Location looks good!</div>
                <div class="invalid-feedback">Location should be valid</div>
            </div>

            <button class="btn btn-dark add-btn mt-3">Add</button>
        </form>
    </div>
</div>
