<% layout("/layouts/boilerplate") %>

<div class="privacy">
    <h1>TripNest Privacy Policy</h1>
    <p>Last Updated: 23/12/2023</p>
    <p>
        Welcome to TripNest! At TripNest, we are committed to protecting your
        privacy and ensuring that your personal information is handled with
        care. This Privacy Policy outlines how TripNest collects, uses, shares,
        and protects your personal information. By using the TripNest platform,
        you agree to the terms outlined in this Privacy Policy.
    </p>
    <br />
    <h3>1. Information We Collect</h3>
    <p>
        a. Personal Information: When you create a TripNest account, we collect
        information such as your name, email address, phone number, and payment
        details.
    </p>
    <p>
        b. Listing Information: If you are a host, we collect information about
        your property, including photos, descriptions, and availability.
    </p>
    <p>
        c. Communications: We may collect information about your communications
        with TripNest, including messages through our platform and customer
        support interactions.
    </p>
    <p>
        d. User Activity: We collect information about your interactions with
        the TripNest platform, including search queries, bookings, and reviews.
    </p>
    <p>
        e. Device Information: We may collect information about the devices you
        use to access TripNest, including IP addresses, device type, and browser
        information.
    </p>
    <br />
    <h3>2. How We Use Your Information</h3>
    <p>
        a. Providing Services: We use your information to provide, personalize,
        and improve our services, including facilitating bookings, connecting
        hosts and guests, and enhancing user experience.
    </p>
    <p>
        b. Communication: We may use your contact information to send you
        important updates, notifications, and promotional material. You can
        opt-out of promotional communications.
    </p>
    <p>
        c. Safety and Security: We use information for the safety and security
        of the TripNest community, including verifying accounts, preventing
        fraud, and ensuring compliance with our terms.
    </p>
    <p>
        d. Analytics: We use data for analytical purposes to understand how
        users interact with our platform, improve our services, and develop new
        features.
    </p>
    <br />
    <h3>3. Information Sharing</h3>
    <p>
        a. Hosts and Guests: To facilitate bookings, certain information, such
        as your name, profile picture, and booking details, may be shared with
        other TripNest users.
    </p>
    <p>
        b. Service Providers: We may share information with third-party service
        providers who assist us in providing and improving our services.
    </p>
    <p>
        c. Legal Compliance: We may disclose information to comply with legal
        obligations, enforce our policies, respond to legal requests, or protect
        the rights, property, or safety of TripNest, its users, or others.
    </p>
    <br />
    <h3>4. Data Security</h3>
    <p>
        We take reasonable measures to protect your information from
        unauthorized access, disclosure, alteration, and destruction. However,
        no data transmission or storage system is completely secure.
    </p>
    <br />
    <h3>5. Your Choices</h3>
    <p>
        a. Account Information: You can update and correct your account
        information by accessing your TripNest account settings.
    </p>
    <p>
        b. Communication Preferences: You can choose to receive or opt-out of
        promotional communications.
    </p>
    <p>
        c. Cookies and Tracking Technologies: You can control cookies and
        tracking tools through your browser settings.
    </p>
    <br />
    <h3>6. Changes to this Privacy Policy</h3>
    <p>
        TripNest may update this Privacy Policy from time to time. If there are
        significant changes, we will notify you through the platform or other
        means.
    </p>
    <br />
    <h3>7. Contact Us</h3>
    <p>
        If you have any questions or concerns about this Privacy Policy , please
        contact us at&nbsp;
        <a href="mailto:vyomraturi2004@gmail.com">vyomraturi2004@gmail.com</a>
    </p>
    <br />
    <p>Thank you for choosing TripNest!</p>
</div>
