<% layout("/layouts/boilerplate") %> <%- include("../includes/flash.ejs") %>

<div class="max-width-2">
    <h1 style="text-align: center">SignUp</h1>
    <div>
        <form
            action="/signup"
            method="post"
            class="needs-validation"
            novalidate
            enctype="multipart/form-data"
        >
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                    name="username"
                    id="username"
                    type="text"
                    class="form-control"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please add a valid username</div>
            </div>
            <div class="extra-userinfo">
                <div class="dual-display">
                    <div class="mb-3">
                        <label for="firstname" class="form-label"
                            >First Name</label
                        >
                        <input
                            name="firstname"
                            id="firstname"
                            type="text"
                            class="form-control"
                            required
                        />

                        <div class="invalid-feedback">
                            Please add a valid first name
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label"
                            >Last Name</label
                        >
                        <input
                            name="lastname"
                            id="lastname"
                            type="text"
                            class="form-control"
                            required
                        />

                        <div class="invalid-feedback">
                            Please add a valid last name
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="profileImage" class="form-label"
                        >Profile picture</label
                    >
                    <input
                        name="profileImage[url]"
                        id="profileImage"
                        type="file"
                        class="form-control"
                        required
                    />

                    <div class="invalid-feedback">
                        Please add a valid profile picture
                    </div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input
                        name="phone"
                        id="phone"
                        type="tel"
                        pattern="[0-9]{10}"
                        class="form-control"
                        required
                    />

                    <div class="invalid-feedback">
                        Please add a valid phone number
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input
                        name="address"
                        id="address"
                        type="text"
                        class="form-control"
                        required
                    />

                    <div class="invalid-feedback">
                        Please add a valid address
                    </div>
                </div>
                <div class="dual-display">
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input
                            name="city"
                            id="city"
                            type="text"
                            class="form-control"
                            required
                        />

                        <div class="invalid-feedback">
                            Please add a valid city
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input
                            name="state"
                            id="state"
                            type="text"
                            class="form-control"
                            required
                        />

                        <div class="invalid-feedback">
                            Please add a valid state
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                    name="email"
                    id="email"
                    type="email"
                    class="form-control"
                    required
                />

                <div class="invalid-feedback">Please add a valid email</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                    name="password"
                    id="password"
                    type="password"
                    class="form-control"
                    required
                />

                <div class="invalid-feedback">Please add a valid password</div>
            </div>
            <button class="btn btn-success mt-3 mb-5">SignUp</button>
        </form>
    </div>
</div>
